In [130]:
import requests
import json
import pandas as pd
import math
import numpy as np

In [88]:
data = json.loads(
    requests.get(
        "https://www.sapsailing.com/sailingserver/api/v1/regattas/OSG2024TEV2023%20-%20Women's%20Dinghy/races/ILCA%206%20-%20R1/competitors/legs"
    ).text
)

In [89]:
data = pd.json_normalize(data["legs"], ["competitors"], ["from", "to"])[
    ["name", "rank", "to"]
].set_index("name")

In [90]:
combined_data = data.groupby("name")["rank"].apply(list).reset_index()
combined_data

                  name                      rank
0         A. Barwinska        [2, 2, 6, 6, 6, 5]
1   A. Moncada Sanchez  [35, 37, 30, 26, 27, 27]
2           A. Palanti  [30, 35, 34, 34, 38, 38]
3       A. Penruddocke  [36, 33, 33, 29, 28, 28]
4   A.jordan Von Appen  [20, 25, 28, 33, 33, 33]
5          A.m. Rindom      [13, 10, 4, 4, 7, 7]
6   C. Benini Floriani        [4, 3, 1, 1, 1, 1]
7          C. Donertas  [26, 28, 29, 35, 34, 34]
8             E. Bolat  [27, 22, 21, 21, 22, 22]
9       E. Karageorgou  [25, 31, 36, 36, 32, 32]
10          E. Mcmahon        [1, 1, 2, 3, 4, 4]
11  E. Oetling Ramirez  [33, 34, 27, 28, 24, 24]
12      E. Plasschaert   [8, 14, 13, 12, 16, 16]
13          E. Reineke    [7, 6, 10, 10, 10, 10]
14         E. Vorobeva  [28, 21, 26, 25, 30, 31]
15        E.p. Kumpina  [34, 32, 38, 37, 35, 36]
16        F. Chiarella  [31, 26, 22, 22, 25, 26]
17       H. Snellgrove     [11, 8, 8, 9, 12, 12]
18       J. Busselberg  [12, 11, 14, 14, 13, 13]
19           J. Olsson  [32, 29, 23, 23, 20, 20]
20          L. Cardozo  [14, 16, 15, 15, 14, 14]
21       L. Flem Hoest       [10, 7, 7, 7, 3, 3]
22      M. Bouwmeester        [6, 4, 5, 5, 2, 2]
23            M. Jayet        [3, 5, 3, 2, 5, 6]
24            M. Makri  [17, 17, 18, 18, 17, 15]
25          M. Mikkola  [21, 18, 20, 20, 23, 23]
26   Moreira Fraschini  [24, 27, 32, 31, 29, 29]
27          N. Kumanan  [29, 24, 25, 24, 21, 21]
28         Norton S.l.  [38, 36, 35, 32, 31, 30]
29         O. Christie  [22, 23, 31, 30, 37, 37]
30           P. Michon      [9, 12, 11, 8, 8, 8]
31          S. Douglas  [19, 19, 17, 17, 18, 18]
32         S. Naumenko  [37, 38, 37, 38, 36, 35]
33     S.g. Montgomery  [23, 30, 24, 27, 26, 25]
34            Tombe Y.  [18, 20, 19, 19, 19, 19]
35        V. Andrulyte       [5, 9, 9, 11, 9, 9]
36      V. Karachaliou  [15, 13, 16, 16, 15, 17]
37          Z. Thomson  [16, 15, 12, 13, 11, 11]

In [132]:
from itertools import groupby

to = data.to.values
marks = [k for k, g in groupby(to) if k != 0]
mark_positions = pd.DataFrame(
    combined_data["rank"].values.tolist(), index=combined_data.name, columns=marks
)
s = mark_positions.columns.to_series().groupby(mark_positions.columns)
mark_positions.columns = np.where(
    s.transform("size") > 1,
    mark_positions.columns + ":" + s.cumcount().add(1).astype(str),
    mark_positions.columns,
)
mark_positions

                    Y - 1:1  Y - 4  Y - 1:2  Y - 2  Y - 3 (2)  Y - Finish
name
A. Barwinska              2      2        6      6          6           5
A. Moncada Sanchez       35     37       30     26         27          27
A. Palanti               30     35       34     34         38          38
A. Penruddocke           36     33       33     29         28          28
A.jordan Von Appen       20     25       28     33         33          33
A.m. Rindom              13     10        4      4          7           7
C. Benini Floriani        4      3        1      1          1           1
C. Donertas              26     28       29     35         34          34
E. Bolat                 27     22       21     21         22          22
E. Karageorgou           25     31       36     36         32          32
E. Mcmahon                1      1        2      3          4           4
E. Oetling Ramirez       33     34       27     28         24          24
E. Plasschaert            8     14       13     12         16          16
E. Reineke                7      6       10     10         10          10
E. Vorobeva              28     21       26     25         30          31
E.p. Kumpina             34     32       38     37         35          36
F. Chiarella             31     26       22     22         25          26
H. Snellgrove            11      8        8      9         12          12
J. Busselberg            12     11       14     14         13          13
J. Olsson                32     29       23     23         20          20
L. Cardozo               14     16       15     15         14          14
L. Flem Hoest            10      7        7      7          3           3
M. Bouwmeester            6      4        5      5          2           2
M. Jayet                  3      5        3      2          5           6
M. Makri                 17     17       18     18         17          15
M. Mikkola               21     18       20     20         23          23
Moreira Fraschini        24     27       32     31         29          29
N. Kumanan               29     24       25     24         21          21
Norton S.l.              38     36       35     32         31          30
O. Christie              22     23       31     30         37          37
P. Michon                 9     12       11      8          8           8
S. Douglas               19     19       17     17         18          18
S. Naumenko              37     38       37     38         36          35
S.g. Montgomery          23     30       24     27         26          25
Tombe Y.                 18     20       19     19         19          19
V. Andrulyte              5      9        9     11          9           9
V. Karachaliou           15     13       16     16         15          17
Z. Thomson               16     15       12     13         11          11

In [133]:
deltas = (mark_positions.diff(axis=1) * -1).dropna(axis=1)
deltas.columns = [f"Change {i+1}" for i in range(len(deltas.columns))]
deltas["Total Place Change"] = deltas.sum(axis=1)
deltas

,Change 1,Change 2,Change 3,Change 4,Change 5,Total Place Change
name,,,,,,
A. Barwinska,0,-4,0,0,1,-3
A. Moncada Sanchez,-2,7,4,-1,0,8
A. Palanti,-5,1,0,-4,0,-8
A. Penruddocke,3,0,4,1,0,8
A.jordan Von Appen,-5,-3,-5,0,0,-13
A.m. Rindom,3,6,0,-3,0,6
C. Benini Floriani,1,2,0,0,0,3
C. Donertas,-2,-1,-6,1,0,-8
E. Bolat,5,1,0,-1,0,5
E. Karageorgou,-6,-5,0,4,0,-7
E. Mcmahon,0,-1,-1,-1,0,-3
E. Oetling Ramirez,-1,7,-1,4,0,9
E. Plasschaert,-6,1,1,-4,0,-8
E. Reineke,1,-4,0,0,0,-3
E. Vorobeva,7,-5,1,-5,-1,-3
E.p. Kumpina,2,-6,1,2,-1,-2
F. Chiarella,5,4,0,-3,-1,5
H. Snellgrove,3,0,-1,-3,0,-1
J. Busselberg,1,-3,0,1,0,-1
J. Olsson,3,6,0,3,0,12
L. Cardozo,-2,1,0,1,0,0
L. Flem Hoest,3,0,0,4,0,7
M. Bouwmeester,2,-1,0,3,0,4
M. Jayet,-2,2,1,-3,-1,-3
M. Makri,0,-1,0,1,2,2
M. Mikkola,3,-2,0,-3,0,-2
Moreira Fraschini,-3,-5,1,2,0,-5
N. Kumanan,5,-1,1,3,0,8
Norton S.l.,2,1,3,1,1,8
O. Christie,-1,-8,1,-7,0,-15
P. Michon,-3,1,3,0,0,1
S. Douglas,0,2,0,-1,0,1
S. Naumenko,-1,1,-1,2,1,2
S.g. Montgomery,-7,6,-3,1,1,-2
Tombe Y.,-2,1,0,0,0,-1
V. Andrulyte,-4,0,-2,2,0,-4
V. Karachaliou,2,-3,0,1,-2,-2
Z. Thomson,1,3,-1,2,0,5

In [134]:
final_data = pd.concat([mark_positions, deltas], axis=1)
final_data = final_data[
    [item for items in zip(mark_positions.columns, deltas.columns) for item in items]
]
final_data

,Y - 1:1,Change 1,Y - 4,Change 2,Y - 1:2,Change 3,Y - 2,Change 4,Y - 3 (2),Change 5,Y - Finish,Total Place Change
name,,,,,,,,,,,,
A. Barwinska,2,0,2,-4,6,0,6,0,6,1,5,-3
A. Moncada Sanchez,35,-2,37,7,30,4,26,-1,27,0,27,8
A. Palanti,30,-5,35,1,34,0,34,-4,38,0,38,-8
A. Penruddocke,36,3,33,0,33,4,29,1,28,0,28,8
A.jordan Von Appen,20,-5,25,-3,28,-5,33,0,33,0,33,-13
A.m. Rindom,13,3,10,6,4,0,4,-3,7,0,7,6
C. Benini Floriani,4,1,3,2,1,0,1,0,1,0,1,3
C. Donertas,26,-2,28,-1,29,-6,35,1,34,0,34,-8
E. Bolat,27,5,22,1,21,0,21,-1,22,0,22,5
E. Karageorgou,25,-6,31,-5,36,0,36,4,32,0,32,-7
E. Mcmahon,1,0,1,-1,2,-1,3,-1,4,0,4,-3
E. Oetling Ramirez,33,-1,34,7,27,-1,28,4,24,0,24,9
E. Plasschaert,8,-6,14,1,13,1,12,-4,16,0,16,-8
E. Reineke,7,1,6,-4,10,0,10,0,10,0,10,-3
E. Vorobeva,28,7,21,-5,26,1,25,-5,30,-1,31,-3
E.p. Kumpina,34,2,32,-6,38,1,37,2,35,-1,36,-2
F. Chiarella,31,5,26,4,22,0,22,-3,25,-1,26,5
H. Snellgrove,11,3,8,0,8,-1,9,-3,12,0,12,-1
J. Busselberg,12,1,11,-3,14,0,14,1,13,0,13,-1
J. Olsson,32,3,29,6,23,0,23,3,20,0,20,12
L. Cardozo,14,-2,16,1,15,0,15,1,14,0,14,0
L. Flem Hoest,10,3,7,0,7,0,7,4,3,0,3,7
M. Bouwmeester,6,2,4,-1,5,0,5,3,2,0,2,4
M. Jayet,3,-2,5,2,3,1,2,-3,5,-1,6,-3
M. Makri,17,0,17,-1,18,0,18,1,17,2,15,2
M. Mikkola,21,3,18,-2,20,0,20,-3,23,0,23,-2
Moreira Fraschini,24,-3,27,-5,32,1,31,2,29,0,29,-5
N. Kumanan,29,5,24,-1,25,1,24,3,21,0,21,8
Norton S.l.,38,2,36,1,35,3,32,1,31,1,30,8
O. Christie,22,-1,23,-8,31,1,30,-7,37,0,37,-15
P. Michon,9,-3,12,1,11,3,8,0,8,0,8,1
S. Douglas,19,0,19,2,17,0,17,-1,18,0,18,1
S. Naumenko,37,-1,38,1,37,-1,38,2,36,1,35,2
S.g. Montgomery,23,-7,30,6,24,-3,27,1,26,1,25,-2
Tombe Y.,18,-2,20,1,19,0,19,0,19,0,19,-1
V. Andrulyte,5,-4,9,0,9,-2,11,2,9,0,9,-4
V. Karachaliou,15,2,13,-3,16,0,16,1,15,-2,17,-2
Z. Thomson,16,1,15,3,12,-1,13,2,11,0,11,5